@font-face {
  /*font-family: Standard;
  src: url(../fonts/standard-book-webfont.woff);*/
  font-family: telegraf;
  src: url(../fonts/telegraf-medium.otf);
}


body {
  background: black;
  font-family: telegraf;
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 0.2 !important;
}

h1 {font-size: 80px;}

.container {
  min-width: 100%;
  padding:0;
}

.hero {
  height: 100vh;
  width:100vw;
  padding:60px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    width: 50%;
    line-height: 0.9 !important;
    margin-top: -15px;
  }
}


.button {
  height: 60px;
  border-radius: 30px;
  border: solid white 3px;
  font-size: 40px;
  padding:25px 12px;
  display: inline-block;
  color: white;
  margin-right: 30px;

  &:hover {
    color: white;
    text-decoration: line-through;
  }
}
