// @font-face {
//   /*font-family: Standard;
//   src: url(../fonts/standard-book-webfont.woff);*/
//   font-family: telegraf;
//   src: url(../fonts/telegraf-medium.otf);
// }

@font-face {
  font-family: 'Telegraf-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Telegraf-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Telegraf-Medium.svg#Telegraf-Medium') format('svg'),
       url('../fonts/Telegraf-Medium.ttf') format('truetype'),
       url('../fonts/Telegraf-Medium.woff') format('woff'),
       url('../fonts/Telegraf-Medium.woff2') format('woff2'),
       url('../fonts/Telegraf-Medium.eot');
}

// GLOBALS
body {
  background: black;
  font-family: 'Telegraf-Medium','Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: 0.5s;
}

.container {
  overflow: hidden;
}

.row {margin: 0;}

.copy {
  font-size: 30px;
  @media (max-width: 575.98px) {
    font-size: 20px;
  }
}
//STYLES
.video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  min-height: 100vh;
  z-index: -100;
  text-align: center;
  width: 100%;
  overflow: hidden;

  video {
    position: absolute;
    width: calc(100vh * (1000 / 562));    /*  video width / height  */
    height: calc(100vw * (562 / 1000));   /*  video height / width  */
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.desktop-video {
  display: block;
  @media (max-width: 424.98px) {
    display: none;
  }
}
.mobile-video {
  display: none;
  @media (max-width: 424.98px) {
    display: block;
  }
}

.container {
  min-width: 100%;
  padding:0;
}

.hero {
  height: 100vh;
  width:100vw;
  padding:25px 45px 60px 45px;
  @media (max-width: 575.98px) {
    padding:20px 15px 30px 15px;
  }
  @media (min-width: 576px) and (max-width: 1199.98px) {
    padding:40px 45px 60px 45px;
  }
  .big-text-wrapper {
    padding: 0 15px;
    .big-text {
      font-size: 160px;
      line-height: 1;
      display: inline;
      padding: 0;
      @media (max-width: 575.98px) {
        font-size: 55px;
        display: block;
      }
      @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 80px;
      }
    }
  }

}


.button {
  height: 64px;
  border-radius: 32px;
  font-size: 40px;
  border: solid white 2.5px;
  padding:0 12px;
  display: inline-block;
  color: white;
  transition: all 0.2s ease;
  @media (max-width: 575.98px) {
    height: 52px;
    font-size:30px;
  }

  &:hover {
    color: white;
    text-decoration: none;
    -ms-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

.projects {
  padding: 60px 30px;
  @media (max-width: 575.98px) {
    padding: 30px 15px;
  }
  .col {
    padding: 0 30px;
    @media (max-width: 575.98px) {
      padding: 0 15px;
    }
    a {

      color: white;
      text-decoration: none;

      img {
        width: 100%;
        height: auto;
        border-radius: 15px;
      }
      p {
        font-size: 40px;
        color: white;
        margin-top: 15px;
        margin-bottom: 60px;

        &:hover {
          text-decoration: none;

        }
      }
    }
  }

}

.footer {
  padding:60px 45px;
  margin-bottom: 120px;

  @media (max-width: 767px) {
    margin-bottom: 60px;
    padding:0 45px;
  }
  @media (max-width: 575.98px) {
    padding: 0 15px;
  }
}
.button-big {

  border-radius: 60px;
  border: solid white 4px;
  font-size: 80px;
  padding:0 40px;
  display: inline-block;
  color: white;
  transition: all 0.2s ease;

  @media (max-width: 1485px) {
    font-size: 55px;
    padding:0 30px;
  }
  @media (max-width: 1075px) {
    font-size: 30px;
    padding:0 20px;
    border: solid white 2px;
  }
  @media (max-width: 575.98px) {
    font-size: 20px;
    padding: 5px 10px;
  }

  &:hover {
    color: white;
    text-decoration: none;
    -ms-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}

.spin {
  width:300px;
  height: 300px;
  margin-right: -180px;
  margin-top: -90px;
  text-align: center;
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  -ms-animation: spin 15s linear infinite;
  -o-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;

    @media (max-width: 767px) {
      margin-right: 0;
      margin-top: 60px;
      width: 200px;
      height: 200px;
    }

  }

  @-webkit-keyframes spin /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes spin {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
